body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#bg-blur {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background: url("images/anime_background.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
#content {
  display: flex;
  flex-direction: column;
  color: wheat;
  align-items: center;
  justify-content: flex-start;
  font-size: 3em;
  height: 100vh;
}
#title > span:first-child {
  color: #729b79;
}
#title > span:last-child {
  color: #bacdb0;
}
#title {
  margin-bottom: 0px;
}
#menu {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-button {
  width: 40em;
  height: 8em;
  display: flex;
  gap: 5em;
  border-radius: 100px;
  padding-left: 5em;
  background-color: #bacdb0;
  color: #2e2c2f;
}
.menu-button > img {
  align-self: center;
  padding-bottom: 4.2em;
  height: 13em;
}
.menu-button > span {
  font-size: 3em;
  align-self: center;
}

.anime-box {
  margin-top: 1em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#anime-title-hangman {
  font-size: 0.5em;
}

#anime-guess-input {
  height: 1em;

  display: flex;
}

#anime-guess-input > img {
  height: 2em;
}
#anime-guess-input > input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  color: #f3e8ee;
}
#anime-guess-input > input:focus {
  background-color: transparent;
  outline: 0;
}
