body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#bg-blur {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background: url("images/anime_background.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
#content {
  display: flex;
  flex-direction: column;
  color: wheat;
  align-items: center;
  justify-content: flex-start;
  font-size: 3em;
  height: 100vh;
  overflow-y: scroll;
}
#title > span:first-child {
  color: #729b79;
}
#title > span:last-child {
  color: #bacdb0;
}
#title {
  margin-bottom: 0px;
  margin-top: 0.3em;
}
#menu {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-button {
  width: 30vw;
  height: 10vh;
  display: flex;
  border-radius: 100px;
  padding-left: 5em;
  background-color: #bacdb0;
  justify-content: space-evenly;
  color: #2e2c2f;
}
.menu-button > img {
  align-self: center;
  padding-bottom: 4.2em;
  height: 13em;
  margin-left: -8em;
}
.menu-button > span {
  font-size: 2em;
  /*font-size: 3em;*/
  align-self: center;
}

.anime-box {
  margin-top: 1em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#anime-guess-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #729b79;
  border-radius: 25px;
  padding: 1em;
  gap: 0.5em;
  width: 10em;
  border: 5px solid #475b63;
}
#anime-guess-level {
  margin: 0;
  font-size: 0.6em;
}
#anime-guess-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#anime-guess-header > h5 {
  font-size: 0.7em;
  margin: 0;
}
.anime-guess-instructions-open {
  width: 20em;
  display: block;
  font-size: 0.5em;
  animation: open 1s ease-out;
  height: 8em;
}

.anime-guess-instructions-close {
  width: 20em;
  font-size: 0.5em;
  animation: close 1s ease-out;
  height: 0;
  display: none;
}
.anime-instructions > h6,
.anime-instructions > p {
  margin: 0.5em;
  font-size: 0.8em;
}
#anime-title-hangman {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5em;
  width: 20em;
  justify-content: center;
}
#anime-title-hangman > span {
  display: flex;
  justify-content: center;
  width: 0.8em;
}
#anime-guess-input {
  height: 20vh;
  display: grid;
  grid-template-areas:
    "img input button"
    "img error error";
  align-items: center;
  background-color: #729b79;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 25px;
  border: 5px solid #475b63;
}

#anime-guess-input > img {
  grid-area: img;
  height: 15vh;
}
#anime-guess-input > input,
#anime-guess-input > button {
  margin-top: -1em;
  border: none;
  font-size: large;
  background-color: #f3e8ee;
  border-top: 3px solid #2e2c2f;
  border-bottom: 3px solid #2e2c2f;
  height: 7vh;
  padding: 1em;
}
#anime-guess-input > input {
  box-sizing: border-box;
  grid-area: input;
  -moz-box-sizing: border-box;
  color: #2e2c2f;
  width: 17em;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
#anime-guess-input > input:focus {
  background-color: #f3e8ee;
  outline: 0;
}
#anime-guess-input > button {
  grid-area: button;
  border-left: 2px solid #2e2c2f;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}
#anime-guess-input > p {
  grid-area: error;
  font-size: 0.6em;
  justify-self: center;
  color: rgb(214, 0, 0);
  margin: 0;
  margin-top: -2em;
}

.button-icon {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.8em;
  color: #f3e8ee;
}

#anime-guess-title-lives {
  width: 7em;
  height: 4em;
}

#anime-guess-character-zoom-effect {
  overflow: hidden;
}
#anime-guess-character-image {
  width: 5em;
  height: 7em;
}

#anime-guess-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#anime-guess-number > p {
  margin: 0;
  font-size: 0.7em;
}

#anime-guess-number-condition {
  width: 5em;
  height: 4em;
}

.anime-guess-audio-button {
  display: flex;
  gap: 1em;
}
.anime-guess-audio-button > button {
  border-radius: 100px;
  width: 5em;
  height: 5em;
  outline: none;
  border: none;
  cursor: pointer;
}
.anime-guess-audio-button > button > svg {
  color: #729b79;
  height: 3em;
}

#anime-guess-seiyuu-voices {
  display: flex;
  flex-wrap: wrap;
  width: 9em;
  gap: 10px;
  margin: 0;
}
#anime-guess-seiyuu-voices > li {
  list-style: none;
}
#anime-guess-seiyuu-voices img {
  width: 4em;
  height: 3em;
}
#anime-guess-theme-dancing > img {
  height: 2em;
}

#anime-small-menus {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5em;
}

#anime-small-menu-button-border {
  border: 4px solid #2e2c2f;
}
#anime-small-menu-button {
  border: none;
}
#anime-small-menus > button {
  width: 2em;
  height: 2em;
  border-radius: 100px;
  font-size: 0.8em;
  background-color: #729b79;
  cursor: pointer;
}
#anime-small-menus > button:hover {
  border: 4px solid #2e2c2f;
}

#anime-loader {
  display: flex;
  align-items: center;
}
#anime-loader > img {
  height: 2em;
}
#anime-loader > span {
  font-size: 0.5em;
}
@keyframes open {
  from {
    height: 0;
    display: none;
  }
  to {
    height: 8em;
    display: block;
  }
}
@keyframes close {
  from {
    height: 8em;
    display: block;
  }
  to {
    height: 0;
    display: none;
  }
}
